<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body data-new-gr-c-s-check-loaded="8.873.0" data-gr-ext-installed="">


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Dashbord</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link disabled" aria-current="page" href="#">Home</a>
              </li>
              <% if (role ==='ADMIN') { %>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/loginUser">login user</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/index">Employee</a>
                </li>
              <% } %>
              <% if (role ==='USER') { %>
                <li class="nav-item">
                  <a class="nav-link" href="/add">Add</a>
                </li>
              <% } %>
                
              <li class="nav-item">
                <a class="nav-link" href="/logOut">logOut</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>

      <% if (messages.error) { %>
				<p style="color:red"><%- messages.error %></p>
			<% } %>
			<% if (messages.success) { %>
				<p style="color:green"><%- messages.success %></p>
			<% } %>

